<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.weichatmall.dao.mapper.ShoppingCartQueryMapper">
    <select id="queryShoppingCartShopCountByUser" resultType="int" parameterType="long">
        SELECT count(1) TOTAL_PAGE FROM (SELECT DISTINCT SHOP_ID from SHOPPING_CART WHERE USER_ID = #{userId}) TMP
    </select>
    <select id="queryAllShoppingCartByShopAndUserAndPage" resultMap="ShoppingCartGoodsWithShop" parameterType="Map">
        SELECT s.ID            SHOP_ID,
               s.`NAME`        SHOP_NAME,
               s.DESCRIPTION   SHOP_DESCRIPTION,
               s.IMG_URL       SHOP_IMG_URL,
               s.OWNER_USER_ID SHOP_OWNER_USER_ID,
               s.CREATED_AT    SHOP_CREATED_AT,
               s.UPDATED_AT    SHOP_UPDATED_AT,
               g.ID            GOODS_ID,
               g.`NAME`        GOODS_NAME,
               g.DESCRIPTION   GOODS_DESCRIPTION,
               g.DETAILS       GOODS_DETAILS,
               g.IMG_URL       GOODS_IMG_URL,
               g.PRICE         GOODS_PRICE,
               sc.`STATUS`     GOODS_STATUS,
               sc.CREATED_AT   GOODS_CREATED_AT,
               sc.UPDATED_AT   GOODS_UPDATED_AT,
               sc.NUMBER       GOODS_NUMBER
        FROM (SELECT DISTINCT SHOP_ID
              FROM SHOPPING_CART
              WHERE USER_ID = #{userId} LIMIT #{offset}, #{limit} ) t1
                  INNER JOIN SHOPPING_CART sc
              on t1.SHOP_ID = sc.SHOP_ID
                  INNER JOIN SHOP s ON s.id = sc.SHOP_ID
                  INNER JOIN GOODS g ON g.id = sc.GOODS_ID
              ORDER BY
                  sc.UPDATED_AT DESC;
    </select>
    <select id="queryShoppingCartByShopAndUser" resultMap="ShoppingCartGoodsWithShop" parameterType="Map">
        SELECT SHOP.ID              as SHOP_ID,
               SHOP.NAME            as SHOP_NAME,
               SHOP.DESCRIPTION     as SHOP_DESCRIPTION,
               SHOP.IMG_URL         as SHOP_IMG_URL,
               SHOP.OWNER_USER_ID   as SHOP_OWNER_ID,
               SHOP.CREATED_AT      as SHOP_CREATED_AT,
               SHOP.UPDATED_AT      as SHOP_UPDATED_AT,
               GOODS.ID             as GOODS_ID,
               GOODS.NAME           as GOODS_NAME,
               GOODS.DESCRIPTION    as GOODS_DESCRIPTION,
               GOODS.DETAILS        as GOODS_DETAILS,
               GOODS.IMG_URL        as GOODS_IMG_URL,
               GOODS.PRICE          as GOODS_PRICE,
               SHOPPING_CART.NUMBER as GOODS_NUMBER,
               SHOPPING_CART.STATUS as GOODS_STATUS,
               GOODS.CREATED_AT     as GOODS_CREATED_AT,
               GOODS.UPDATED_AT     as GOODS_UPDATED_AT
        FROM SHOPPING_CART
                 JOIN GOODS on SHOPPING_CART.GOODS_ID = GOODS.ID
                 JOIN SHOP on SHOPPING_CART.SHOP_ID = SHOP.ID
        WHERE SHOPPING_CART.SHOP_ID = #{shopId}
          AND SHOPPING_CART.USER_ID = #{userId}
    </select>
    <resultMap id="ShoppingCartGoodsWithShop" type="com.lee.weichatmall.domain.shoppingCart.ShoppingCartGoodsWithShop">
        <!-- 用于识别主键，方便分组 -->
        <id column="SHOP_ID"/>
        <association property="shop" javaType="com.lee.weichatmall.domain.Shop">
            <id property="id" column="SHOP_ID"/>
            <result property="name" column="SHOP_NAME"/>
            <result property="description" column="SHOP_DESCRIPTION"/>
            <result property="imgUrl" column="SHOP_IMG_URL"/>
            <result property="ownerUserId" column="SHOP_OWNER_USER_ID"/>
            <result property="status" column="SHOP_STATUS"/>
            <result property="createdAt" column="SHOP_CREATED_AT"/>
            <result property="updatedAt" column="SHOP_UPDATED_AT"/>
        </association>
        <collection property="goods" ofType="com.lee.weichatmall.domain.shoppingCart.ShoppingCartGoods">
            <id property="id" column="GOODS_ID"/>
            <result property="name" column="GOODS_NAME"/>
            <result property="description" column="GOODS_DESCRIPTION"/>
            <result property="details" column="GOODS_DESCRIPTION"/>
            <result property="imgUrl" column="GOODS_IMG_URL"/>
            <result property="price" column="GOODS_PRICE"/>
            <result property="number" column="GOODS_NUMBER"/>
            <result property="shopId" column="SHOP_ID"/>
            <result property="createdAt" column="GOODS_CREATED_AT"/>
            <result property="updatedAt" column="GOODS_UPDATED_AT"/>
            <result property="status" column="GOODS_STATUS"/>
        </collection>
    </resultMap>
    <resultMap id="ShoppingCartGoodsWithAllShop" type="com.lee.weichatmall.domain.shoppingCart.ShoppingCartGoodsWithAllShop">
        <collection property="allShoppingCartGoods"
                    ofType="com.lee.weichatmall.domain.shoppingCart.ShoppingCartGoodsWithShop"
                    resultMap="ShoppingCartGoodsWithShop">
        </collection>
    </resultMap>

</mapper>
